<div class="container-fluid">
  <div class="row" style="display: block;">
    <h3 class="app-item-description-spacing">Description</h3>
    <div *ngIf="!description">
      <div class="mt-2 w-100"><app-progressive-loader [height]="'15px'"></app-progressive-loader></div>
      <div class="mt-2 w-75"><app-progressive-loader [height]="'13px'"></app-progressive-loader></div>
      <div class="mt-2 w-50"><app-progressive-loader [height]="'10px'"></app-progressive-loader></div>
    </div>
    <p *ngIf="description">
      {{description}}
    </p>
  </div>

  <div class="row" style="display: block">
    <h3 class="app-item-description-spacing">Features</h3>

    <!-- Loading animation for features -->
    <div class="bd-callout bd-callout-danger" *ngIf="features.length < 1">
      <div class="mt-4 w-50" *ngFor="let feature of [1,2,3,4,5]">
          <app-progressive-loader [height]="'15px'"></app-progressive-loader>
      </div>    
    </div>
    <!-- End of Loading animation for features -->
    
    <!-- Features List-->
    <div class="bd-callout bd-callout-danger" *ngIf="features.length > 0">
      <ul>
          <li class="mt-4" *ngFor="let feature of features; let i = index">
              {{ feature.info }}
          </li>
      </ul>
    </div>
    <!-- End fo Features List-->
  </div>
</div>
