
<div class="card h-100" style="border-radius: 8px">
  <div class="row">

    <div class="app-item-icon">
      <div class="app-item-icon-loader">
        <app-progressive-loader [height]="'60px'" [borderRadius]="'13px'"></app-progressive-loader>
      </div>
    </div>

    <div class="app-item-headers">
      <div class="row">
        <div class="col">
          <div class="app-item-header-name">
            <app-progressive-loader [width]="'90%'"></app-progressive-loader>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <div class="app-item-header-name">
            <app-progressive-loader [width]="'50%'"></app-progressive-loader>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
