
<div class="card border-radius-6px">
  <div class="row">

    <div class="app-item-icon">
      <div class="app-item-icon-loader">
        <app-progressive-loader [height]="'50px'" [borderRadius]="'6px'"></app-progressive-loader>
      </div>
    </div>

    <div class="app-item-headers">
      <div class="row">
        <div class="col mt-2">
          <div class="app-item-header-name">
            <app-progressive-loader [width]="'90%'" [height]="'13px'"></app-progressive-loader>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col mt-2">
          <div class="app-item-header-name">
            <app-progressive-loader [width]="'50%'" [height]="'10px'"></app-progressive-loader>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
